* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.temp-container {
  height: 100px;
}

/* ----- Header ----- */
.fesc-header-section {
  width: 100%;
  background-color: #3cb1d2;
  height: 780px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  top:60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;  
}

.fesc-header-inner-container {
  max-width: 800px;
  padding: 0 4%;
}

.fesc-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 4.25em;
  padding-bottom: 64px;
  text-align: center;
}

.fesc-subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
}