* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----Underline Link Effect----- */
.navigate-prev .hover,
.navigate-next .hover {
  position: relative;
}

.navigate-prev .hover::before,
.navigate-next .hover::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform-origin: right;
  transition: transform .2s ease-out;
}

.navigate-prev .hover:hover::before, 
.navigate-next .hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* -----Project Colors ----- */
:root {
  --bonapp-color: #dab907;
  /*--bonapp-yellow: rgba(255, 219, 0, 1);  alt yellow */
  --block-color: #dd6b49;
  /*--block-orange: rgba(255, 124, 85, 1);  alt orange */
  --stump-color: #bf955a;
  /*--stump-green: rgba(67, 157, 67, 1);  alt orange */
  --fesc-color: #73975b;
  /*--fesc: rgba(60, 177, 210, 1);  alt blue */
  --calc-color: rgba(255, 165, 0, 1);
  --conquer-color: rgba(201, 48, 45, 1);
}

.bonapp-color {
  color: var(--bonapp-color)
}

.bonapp-hr {
  border-color: var(--bonapp-color)
}

.bonapp-bg {
  background-color: var(--bonapp-color);
}

.block-color {
  color: var(--block-color);
}

.block-hr {
  border-color: var(--block-color);
}

.block-bg {
  background-color: var(--block-color);
}

.stumptown-color {
  color: var(--stump-color);
}

.stumptown-hr {
  border-color: var(--stump-color);
}

.stumptown-bg {
  background-color: var(--stump-color);
}

.fesc-color {
  color: var(--fesc-color);
}

.fesc-hr {
  border-color: var(--fesc-color);
}

.fesc-bg {
  background-color: var(--fesc-color);
}

.calc-color {
  color: var(--calc-color);
}

.calc-hr {
  border-color: var(--calc-color);
}

.calc-bg {
  background-color: var(--calc-color);
}

.conquer-color {
  color: var(--conquer-color);
}

.conquer-hr {
  border-color: var(--conquer-color);
}

.conquer-bg {
  background-color: var(--conquer-color);
}

/* ----- Header ----- */
.project-header-section {
  width: 100%;
  height: 50vh;
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bonapp-image {
  background-image: url('../img/bonapp-detail.png');
}

.block-image {
  background-image: url('../img/block-detail.png');
}

.stumptown-image {
  background-image: url('../img/stumptown-detail.png');
}

.fesc-image {
  background-image: url('../img/fesc-detail.png');
}

.calc-image {
  background-color: var(--calc-color);
}

.conquer-image {
  background-color: var(--conquer-color);
}

.homepage-container {
  top:60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;  
}

.project-header-inner-container {
  max-width: 800px;
  padding: 0 4%;
}

.project-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 4.25em;
  padding-bottom: 64px;
  text-align: center;
}

.project-subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
}

/*----- Description Section ----- */
.description-section {
  padding: 150px 0;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  width: 62.5%;
  max-width: 800px;
  text-align: center;
}

.description-title {
  font-size: 1.75em;
}

.description-subtitle {
  font-size: 1.25em;
  padding: 0px 0;
  font-weight: 400;
}

.horizontal-line {
  width: 100%;
  border-style: solid;
  display: none
}

.description-text {
  font-size: 1.75em;
  /*font-size: 1.25em;*/
  padding: 24px 0;
  line-height: 1.5em;
  font-weight: 400;
}

.visit-button {
  width: 226px;
  height: 60px;
  margin-top: 36px;
  font-size: 1em;
  border: 0;
}

/*----- Project Section ------ */
.project-section {
  width: 100%;
  padding-top: 100px;
}

.project-last-section {
  padding-bottom: 100px;
}

.project-section-wrapper {
  width: 62.5%;
  margin: 0 auto;
}

.project-img-container,
.project-img-description-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project-img-container {
padding-bottom: 40px;
}

.project-img {
  width: 100%;
  box-shadow: 3px 3px 10px 0px #ccc;
}

.project-img-description-header {
  font-size: 1.2em;
  line-height: 1.56;
  font-weight: bold;
}

.project-img-description {
  font-size: 1.2em;
  line-height: 1.56;
}

/*----- Tech Section ----- */
.technologies-section {
  width: 100%;
  background-color: #f5f5f5;
  height: 780px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technologies-container,
.resources-container {
  width: 100%;
  max-width: 800px;
  padding: 0 4%;
}

.resources-container {
  padding-top: 80px;
}

.technologies-title-container,
.resources-title-container {
}

.technologies-title,
.resources-title {
  font-size: 1.75em;
}

.technologies-text-container,
.resources-text-container  {
  padding: 0 28px;
}

.technologies-text-list,
.resources-text-list  {
 list-style: circle;
}

.technologies-text,
.resources-text {
  font-size: 1.75em;
  padding-top: 8px;
}

.resources-text a {
  text-decoration: none;
}

.tech-horizontal-line {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
}

/*----- Navigate Section ----- */
.navigate-section {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 4%;
}

.navigate-row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigate-prev a,
.navigate-next a {
  color: #000;
  text-decoration: none;
  font-size: 1.75em;
}

.arrow {
  height: 1em;
}