* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----Underline Link Effect----- */
.navigate-prev .hover,
.navigate-next .hover {
  position: relative;
}

.navigate-prev .hover::before,
.navigate-next .hover::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform-origin: right;
  transition: transform .2s ease-out;
}

.navigate-prev .hover:hover::before, 
.navigate-next .hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* -----Project Colors ----- */
.calc-color {
  color: rgba(255, 165, 0, 1);
}

.stumptown-color {
  color: rgba(67, 157, 67, 1);
}

.bonapp-color {
  color: rgba(255, 219, 0, 1);
}

.fesc-color {
  color: rgba(60, 177, 210, 1);
}

.block-color {
  color: rgba(255, 124, 85, 1);
}

.conquer-color {
  color: rgba(201, 48, 45, 1);
}

.calc-bgcolor {
  background-color: rgba(255, 165, 0, 1);
}

.stumptown-bgcolor {
  background-color: rgba(67, 157, 67, 1);
}

.bonapp-bgcolor {
  background-color: rgba(255, 219, 0, 1);
}

.fesc-bgcolor {
  background-color: rgba(60, 177, 210, 1);
}

.block-bgcolor {
  background-color: rgba(255, 124, 85, 1);
}

.conquer-bgcolor {
  background-color: rgba(201, 48, 45, 1);
}

.fesc-hr {
  border-color: rgba(60, 177, 210, 1);
}

.calc-hr {
  border-color: rgba(255, 165, 0, 1);
}

.stumptown-hr {
  border-color: rgba(67, 157, 67, 1);
}

.bonapp-hr {
  border-color: rgba(255, 219, 0, 1);
}

.block-hr {
  border-color: rgba(255, 124, 85, 1);
}

.conquer-hr {
  border-color: rgba(201, 48, 45, 1);
}

/* ----- Header ----- */
.project-header-section {
  width: 100%;
  height: 780px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container {
  top:60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;  
}

.project-header-inner-container {
  max-width: 800px;
  padding: 0 4%;
}

.project-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 4.25em;
  padding-bottom: 64px;
  text-align: center;
}

.project-subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
}

/*----- Description Section ----- */
.description-section {
  width: 100%;
  background-color: #fff;
  height: 780px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  width: 100%;
  max-width: 800px;
  padding: 0 4%;
}

.description-title {
  font-size: 1.75em;
}

.horizontal-line {
  width: 100%;
  border-width: 2px;
  border-style: solid;
}

.description-text {
  font-size: 1.75em;
  padding: 24px 0;
  line-height: 1.5em;
}


/*----- Project Section ------ */
.project-section {
  height: 1310px;
  width: 100%;
}

.project-img-container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.project-img {
  width: 100%;
  box-shadow: 3px 3px 10px 0px #ccc;
}

/*----- Project Section2 ------ */
.project-section2 {
  width: 100%;
  height: 1078px;
  position: relative;
}

.project-section2-top {
  width: 100%;
  height: 593px;
  background-color: rgba(60, 177, 210, .1);
}

.project-section2-bottom {
  width: 100%;
  height: 485px;
}

.project-section2-content-container {
  width: 70%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.project-img-container2 {
  margin-right: 4%;
}


/*----- Tech Section ----- */
.technologies-section {
  width: 100%;
  background-color: #f5f5f5;
  height: 780px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technologies-container,
.resources-container {
  width: 100%;
  max-width: 800px;
  padding: 0 4%;
}

.resources-container {
  padding-top: 80px;
}

.technologies-title-container,
.resources-title-container {
}

.technologies-title,
.resources-title {
  font-size: 1.75em;
}

.technologies-text-container,
.resources-text-container  {
  padding: 0 28px;
}

.technologies-text-list,
.resources-text-list  {
 list-style: circle;
}

.technologies-text,
.resources-text {
  font-size: 1.75em;
  padding-top: 8px;
}

.resources-text a {
  text-decoration: none;
}

.tech-horizontal-line {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
}

/*----- Navigate Section ----- */
.navigate-section {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 4%;
}

.navigate-row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigate-prev a,
.navigate-next a {
  color: #000;
  text-decoration: none;
  font-size: 1.75em;
}

.arrow {
  height: 1em;
}