* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- Header ----- */
.project-header-section {
  width: 100%;
  height: 50vh;
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bonapp-image {
  background-image: url('../img/bonapp-detail.png');
}

.block-image {
  background-image: url('../img/block-detail.png');
}

.stumptown-image {
  background-image: url('../img/stumptown-detail.png');
}

.fesc-image {
  background-image: url('../img/fesc-detail.png');
}

.calc-image {
  background-image: url('../img/calc-detail.png');
}

.conquer-image {
  background-image: url('../img/conquer-detail.png');
}

.weather-image {
  background-image: url('../img/conquer-detail.png');
}

.homepage-container {
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;  
}

.home-icon {
  -webkit-transition: fill .2s ease-in;  
  transition: fill .2s ease-in;  
}

.home-icon:hover {
  fill: #fff;
}

.project-header-inner-container {
  max-width: 800px;
  padding: 0 4%;
}

.project-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: var(--title-min);
  padding-bottom: 64px;
  text-align: center;
}

/*----- Description Section ----- */
.description-section {
  padding: 80px 0;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  width: 80%;
  max-width: 800px;
}

.description-title {
  font-size: var(--description-title-and-text-min);
}

.description-subtitle {
  font-size: var(--description-subtitle-min);
  padding: 8px 0;
  font-weight: 400;
}

.horizontal-line {
  width: 100%;
  border-style: solid;
  display: none
}

.description-text {
  font-size: var(--description-title-and-text-min);
  padding: 24px 0;
  line-height: 1.5em;
  font-weight: 400;
}

.visit-button {
  width: 180px;
  height: 40px;
  margin-top: 18px;
  font-size: var(--description-button);
  border: 0;
  outline: transparent;
  cursor: pointer;
  transition: filter .2s ease-in; 
}

.visit-button:hover {
  filter: brightness(125%);
}

.bonapp-color {
  color: var(--bonapp-color)
}

.bonapp-hr {
  border-color: var(--bonapp-color)
}

.bonapp-bg {
  background-color: var(--bonapp-color);
}

.block-color {
  color: var(--block-color);
}

.block-hr {
  border-color: var(--block-color);
}

.block-bg {
  background-color: var(--block-color);
}

.stumptown-color {
  color: var(--stump-color);
}

.stumptown-hr {
  border-color: var(--stump-color);
}

.stumptown-bg {
  background-color: var(--stump-color);
}

.fesc-color {
  color: var(--fesc-color);
}

.fesc-hr {
  border-color: var(--fesc-color);
}

.fesc-bg {
  background-color: var(--fesc-color);
}

.calc-color {
  color: var(--calc-color);
}

.calc-hr {
  border-color: var(--calc-color);
}

.calc-bg {
  background-color: var(--calc-color);
}

.conquer-color {
  color: var(--conquer-color);
}

.conquer-hr {
  border-color: var(--conquer-color);
}

.conquer-bg {
  background-color: var(--conquer-color);
}

.weather-color {
  color: var(--weather-color);
}

.weather-hr {
  border-color: var(--weather-color);
}

.weather-bg {
  background-color: var(--weather-color);
}

/*----- Project Section ------ */
.project-section {
  width: 100%;
  padding-top: 50px;
}

.project-last-section {
  padding-bottom: 100px;
}

.project-calc-noshow {
  display: none;
}

.project-section-wrapper {
  width: 80%;
  margin: 0 auto;
}

.project-img-container,
.project-img-description-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project-img-container {
padding-bottom: 20px;
}

.project-img {
  width: 100%;
  box-shadow: 3px 3px 10px 0px #ccc;
}

.project-img-description-header {
  font-size: var(--project-header-min);
  line-height: 1.56;
  font-weight: bold;
}

.project-img-description {
  font-size: var(--project-text-min);
  line-height: 1.56;
}

.project-page-link {
  color: #000;
}

/*----- Tech Section ----- */
.technologies-section {
  width: 100%;
  background-color: var(--bg-gray);
  height: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technologies-container,
.resources-container {
  width: 80%;
  max-width: 800px;
}

.resources-container {
  padding-top: 80px;
}

.technologies-title,
.resources-title {
  font-size: var(--tech-title-min);
  font-weight: bold
}

.technologies-text-container,
.resources-text-container  {
  padding: 0 28px;
}

.technologies-text-list,
.resources-text-list  {
 list-style: circle;
}

.technologies-text,
.resources-text {
  font-size: var(--tech-text-min);
  padding-top: 8px;
}

.resources-text a {
  text-decoration: none;
}

.tech-horizontal-line {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  margin: 12px 0;
}

.conquer-visible,
.calc-visible {
  display: none;
}

/*----- Navigate Section ----- */
.navigate-section {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 4%;
}

.navigate-row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigate-prev a,
.navigate-next a {
  color: #000;
  text-decoration: none;
  font-size: var(--nav-text-min);
}

.arrow {
  height: 1em;
  position: relative;
  top: -2px;
}