@media only screen and (min-width: 640px) {
  .visit-button {
    width: 226px;
    height: 60px;
    margin-top: 36px;
    font-size: 1em;
  }
  
  .project-title {
    font-size: 4.25em;
  }

  .description-section {
    padding: 150px 0;
  }

  .description-container {
    width: 62.5%;
    text-align: center;
  }

  .description-title {
    font-size: 1.75em;
  }

  .description-subtitle {
    font-size: 1.25em;
  }

  .description-text {
    font-size: 1.75em;
  }

  .project-section {
    padding-top: 100px;
  }

  .project-section-wrapper {
    width: 62.5%;
  }

  .project-img-container {
    padding-bottom: 40px;
  } 

  .project-img-description-header {
    font-size: 1.2em;
  }

  .project-img-description {
    font-size: 1.2em;
  }

  .technologies-section {
    height: 780px;
  }

  .technologies-container,
  .resources-container{
    width: 63%;
    max-width: 800px;
  }

  .technologies-title,
  .resources-title,
  .technologies-text,
  .resources-text {
    font-size: 1.25em;
  }

  .navigate-section {
    height: 150px;
  }

  .navigate-prev a,
  .navigate-next a {
    font-size: 1.25em;
  }

}

@media only screen and (min-width: 1008px) {
  .technologies-title,
  .resources-title,
  .technologies-text,
  .resources-text {
    font-size: 1.75em;
  }

  .navigate-section {
    height: 200px;
  }

  .navigate-prev a,
  .navigate-next a {
    font-size: 1.75em;
  }
}