@font-face {
	font-family: 'Maison Neue';
	src: url('../src/fonts/MaisonNeue-Medium.woff2') format('woff2'),
		url('../src/fonts/MaisonNeue-Medium.woff') format('woff'),
		url('../src/fonts/MaisonNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../src/fonts/MaisonNeue-Light.woff2') format('woff2'),
		url('../src/fonts/MaisonNeue-Light.woff') format('woff'),
		url('../src/fonts/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

.body-container {
  width: 100%;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

/* ----- NavBar -----*/
.navbar {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.nav-title-container {
  padding: 0;
  margin: 0;
}

.nav-title {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.75em;
}

.nav-menu-container {
  display: none;
  padding: 0;
  margin: 0;
}

.nav-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 24px;
}

.nav-menu-item a {
  font-weight: 700;
  font-size: .95em;
  text-decoration: none;
  color: #888;
}

.nav-menu-item a:hover {
  color: #000;
  border-bottom: 3px solid #00C0CA;

}

/* ----- About ----- */
.about-section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

.about-image-container {
  width: 100%;
}

.about-image {
  width: 100%;
  
}

.about-text-container {
  margin-top: 32px;
  padding: 0 16px;
}

.about-text {
  line-height: 2em;
}

.about-contact {
  display: block;
  border: 2px solid #00C0CA;
  height: 50px;
  width: 150px;
  margin: 32px auto 0;
  color: #00C0CA;
  font-size: 1em;
  transition: all .1s linear;
  outline-width: 0;
}

.about-contact:hover {
  color: #fff;
  font-weight: 700;
  background-color: #00C0CA;
}

/* ----- Skill Section ----- */
.skills-section {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 0 4%;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #888;
}

.box {
  height: 270px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px 0;
}

.box3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skills-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-icon{
  width: 50px;
}

.skills-language-container {
  text-align: center;
  padding: 32px 0 0;
}

.skills-language-list {
  list-style: none;
}

.skills-language-list-item {
  padding-top: 16px;
}

.skills-title-container {
  width: 100%;
  text-align: center;
  padding: 32px 0 0;
}

.skills-title {
  padding-bottom: 16px;
}

.skills-text {
  line-height: 2em;
  width: 80%;
  margin: 0 auto;
}

/* ----- Work Section ----- */
.work-section {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 0 4%;
}

.work-title-container {
  text-align: center;
  margin-bottom: 50px;
}

.work-title {
  padding-bottom: 12px;
}

.work-statement {
  font-weight: 300
}

.work-project-container {
  width: 100%;
  display: grid;
  grid-template-columns:1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-row-gap: 24px;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.project1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.project2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.project3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.project4 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.project5 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.project6 {
  grid-row-start: 6;
  grid-row-end: 7;
}

.project-image {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .nav-menu-container {
  display: flex;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box1,
  .box3 {
    display: block;
    padding: 32px 0;
  }

  .skills-text {
    width: 90%;
  }

  .work-project-container {
    grid-template-columns:1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr);
    grid-column-gap: 24px;
  }

  .project1,
  .project3,
  .project5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .project2,
  .project4,
  .project6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .project1,
  .project2 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .project3,
  .project4 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .project5,
  .project6 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/* ----- Footer ----- */
.footer {
  margin-top: 100px;
  position: relative;
}

.footer-wave {
  width: 100%;
  top: -170px;
  z-index: -10;
}

.footer-wave img {
  width: 100%;
}

.footer-container {
  background-color: #444957;
}

.footer-container h4 {
  color: #00C0CA;
  height: 80px;
  
}

.footer-container li {
  color: #fff;
}

.footer-bottom-container {
  width: 100%;
  background-color: #2C3039;
  height: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  color: #00C0CA;
}