* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.body-container {
  width: 100%;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

/* ----- Top ----- */
.section-top {
  width: 100%;
  height: 400px;
  background-color: #3577ff;
  position: relative;
  display: flex;
  align-items: center;
}

/* ----- NavBar -----*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  padding: 0 3%;
}

.nav-name-container {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.nav-name {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  color: #fff;
}

.nav-position {
  color: #ccc;
  margin-left: 8px;
}

.nav-menu-container {
  display: none;
  padding: 0;
  margin: 0;
}

.nav-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 24px;
}

.menu3 {
  padding-right: 0;
}

.nav-menu-item a {
  font-size: .95em;
  text-decoration: none;
  color: #fff;
}

.nav-menu-item a:hover {
  border-bottom: 2px solid #fff;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #fff;
  letter-spacing: 1px;
}

/* ----- About ----- */
.about-section {
  width: 100%;
  height: 400px;
  padding: 0 3%;
  background-color: #fff;
  background-image: url('img/abstract.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 60%;
  max-width: 500px;
  margin: 0;
}

.about-intro-container {
  margin-bottom: 16px;
}

.about-intro {
  text-align: center;
  color: #3577ff;
  font-size: 1em;
}

.about-text {
  line-height: 1.5em;
  text-align: center;
}

/* ----- Skill Section ----- */
.skills-section {
  width: 100%;
  padding: 0 3%;
  background-color: #f8f8f8;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 50px;
  max-width: 1000px;
}

.box {
  height: 300px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px 0;
}

.box3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skills-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-icon{
  width: 50px;
}

.skills-language-container {
  text-align: center;
  padding: 32px 0 0;
}

.skills-language {
  font-weight: 700;
}

.skills-language-list {
  list-style: none;
}

.skills-language-list-item {
  padding-top: 16px;
  font-weight: 400;
}

.skills-title-container {
  width: 100%;
  text-align: center;
  padding: 32px 0 0;
}

.skills-title {
  padding-bottom: 16px;
  font-weight: 700;
}

.skills-text {
  line-height: 2em;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

/* ----- Work Section ----- */
.work-section {
  width: 100%;
  background-color: #2C3039;
}

.work-container {
  padding: 50px 15%;
  max-width: 1000px;
  margin: 0 auto;
}

.work-title-container {
  text-align: center;
  margin-bottom: 50px;
}

.work-title {
  padding-bottom: 12px;
  color: #fff;
}

.work-statement {
  color: #fff;
  font-weight: 400
}

.work-project-container {
  width: 100%;
  display: grid;
  grid-template-columns:1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-row-gap: 24px;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.project1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.project2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.project3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.project4 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.project5 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.project6 {
  grid-row-start: 6;
  grid-row-end: 7;
}

.project-image {
  width: 100%;
}

/* ----- Footer ----- */
.footer {
  width: 100%;
  background-color: #fff;
}

.footer-head-section {
  padding: 150px 0;
}

.footer-work-together-container {
  width: 50%;
  margin: 0 auto;
}

.work-together-title {
  text-align: center;
  padding-bottom: 16px;
  color: #3577ff;
  font-size: 1em;
}

.work-together-text {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

.footer-tail-section {
  width: 100%;
  background-color: #2C3039;
  padding: 0 3%;
}

.footer-row {
  padding: 30px 0;
}

.footer-col1 {
  width: 100%;
  padding-bottom: 16px;
}

.footer-name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.footer-position {
  color: #bbb;
  font-size: 1em;
  padding-left: 8px;
}

.footer-col2 {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.footer-email,
.footer-resume,
.footer-linkedin {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding-top: 16px;
}

.footer-resume:hover,
.footer-linkedin:hover {
  text-decoration: underline;
}

.footer-email a {
  color: #ccc;
  text-decoration: none;
}

.footer-email a:hover {
  text-decoration: underline;
}




@media only screen and (min-width: 600px) {
  .nav-menu-container {
  display: flex;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box1,
  .box3 {
    display: block;
    padding: 32px 0;
  }

  .skills-text {
    width: 90%;
  }

  .work-container{
    padding: 50px 100px;
  }

  .work-project-container {
    grid-template-columns:1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr);
    grid-column-gap: 24px;
  }

  .project1,
  .project3,
  .project5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .project2,
  .project4,
  .project6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .project1,
  .project2 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .project3,
  .project4 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .project5,
  .project6 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /* ----- Footer ----- */
  .footer-work-together-container {
    max-width: 500px;
  }

  .footer-row {
    display: flex;
  }

  .footer-col1,
  .footer-col2 {
    width: 25%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .footer-col2 {
    width: 75%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .footer-name {
    font-size: .75em;
    text-align: left;
  }

  .footer-email,
  .footer-resume,
  .footer-linkedin {
    font-size: .75em;
    padding-top: 0;
    padding-left: 32px;
  }

}