* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  width: 100%;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

.hover {
  position: relative;
}

.hover::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transform-origin: right;
  transition: transform .2s ease-out;
}

.hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* ----- Top ----- */
.section-header {
  width: 100%;
  height: 400px;
  background-color: #3678ff;
  background-image: url('img/brian-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  position: relative;
  display: flex;
  align-items: center;
}

/* ----- NavBar -----*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  padding: 0 3%;
}

.nav-name-container {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.nav-name {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

.nav-position {
  margin-left: 8px;
  font-weight: 400;
}

.nav-menu-container {
  display: none;
  padding: 0;
  margin: 0;
}

.nav-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 24px;
}

.menu3 {
  padding-right: 0;
}

.nav-menu-item a {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 2.5em; /*160px*/
  letter-spacing: 1px;
}

/* ----- About ----- */
.about-section {
  width: 100%;
  height: 400px;
  padding: 0 3%;
  background-color: #fff;
  background-image: url('img/abstract.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 60%;
  margin: 0;
}

.about-intro-container {
  margin-bottom: 16px;
}

.about-intro {
  text-align: center;
  color: #3678ff;
  font-size: 1.5em;
}

.about-text {
  line-height: 1.5em;
  text-align: center;
}

/* ----- Skill Section ----- */
.skills-section {
  width: 100%;
  padding: 0 3%;
  background-color: #f8f8f8;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 50px;
}

.box {
  height: 300px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px 0;
}

.box3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skills-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-icon{
  width: 50px;
}

.skills-list-container {
  text-align: center;
  padding: 32px 0 0;
}

.skills-title {
  font-weight: 700;
}

.skills-list {
  list-style: none;
}

.skills-list-item {
  padding-top: 16px;
  font-weight: 400;
}

.skills-text {
  line-height: 2em;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

/* ----- Work Section ----- */
.work-section {
  width: 100%;
  background-color: #2C3039;
}

.work-container {
  padding: 50px 15%;
  margin: 0 auto;
}

.work-title-container {
  text-align: center;
  margin-bottom: 50px;
}

.work-title {
  padding-bottom: 12px;
  color: #fff;
}

.work-statement {
  color: #fff;
  font-weight: 400
}

.work-project-container {
  width: 100%;
  display: grid;
  grid-template-columns:1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr);
  grid-row-gap: 24px;
}

.projects {
  grid-column-start: 1;
  grid-column-end: 2;
  transition: opacity .2s linear;
}

.project1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.project2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.project3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.project4 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.project5 {
  grid-row-start: 5;
  grid-row-end: 6;
}

.project6 {
  grid-row-start: 6;
  grid-row-end: 7;
}

.effect-img {
  width: 100%;
}

/* ----- Hover Effect ----- */
.effect {
	position: relative;
	overflow: hidden;
  margin: 0;
}

.effect-calc {
  background-color: var(--calc-color)
}

.effect-stumptown {
  background-color: var(--stump-color)
}

.effect-bonapp {
  background-color: var(--bonapp-color);
}

.effect-block {
  background-color: var(--block-color)
}

.effect-conquer {
  background-color: var(--conquer-color)
}

.effect-fesc {
  background-color: var(--fesc-color)
}

.effect-img {
	position: relative;
	display: block;
  opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.effect-caption {
	font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.effect-caption,
.effect-link{
	position: absolute;
  align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.effect-link {
	text-indent: 200%;
	white-space: nowrap;
}

.effect-title {
	font-weight: 700;
  font-size: 1.4em;
  opacity: 0;
  padding-bottom: .5em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.effect-text {
  margin: 0 2em;
  padding: 0 1em;
  text-align: center;
  font-weight: 500;
	font-size: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
}

.effect:hover .effect-img {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.effect:hover .effect-title {
  opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect:hover .effect-text {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

/* ----- Summary ----- */
.summary-section {
  width: 100%;
  background-color: #fff;
}

.summary-head-section {
  padding: 150px 0;
}

.summary-work-together-container {
  width: 50%;
  margin: 0 auto;
}

.work-together-title {
  text-align: center;
  padding-bottom: 16px;
  color: #3678ff;
  font-size: 1em;
}

.work-together-text {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

/* ----- Footer ----- */
.footer {
  width: 100%;
}

.footer-tail-section {
  width: 100%;
  background-color: #2C3039;
  padding: 0 3%;
}

.footer-row {
  padding: 30px 0;
}

.footer-col1 {
  width: 100%;
  padding-bottom: 16px;
}

.footer-name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.footer-position {
  font-size: 1em;
  padding-left: 8px;
}

.footer-col2 {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.footer-email,
.footer-resume,
.footer-linkedin,
.footer-git {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  
}

.footer-email-link {
  color: #fff;
  text-decoration: none;
}

.footer-resume-container,
.footer-linkedin-container,
.footer-git-container {
  padding-top: 16px;
}


