@media only screen and (min-width: 640px) {
  .section-header {
    height: 100vh;
    max-height: 780px;
  }

  .nav-menu-container {
  display: flex;
  }

  .title {
    font-size: var(--home-title-max); /*160px*/
  }

  /* ----- About ----- */
  .about-section {
    height: 780px;
  }

  .about-container {
    width: 70%;
  }

  .about-intro-container {
    margin-bottom: 23px;
  }

  .about-intro {
    font-size: var(--home-about-title-med);
  }

  .about-text {
    font-size: var(--home-about-text-med);
    line-height: 38px;
  }

  /* ----- Skills ----- */
  .skills-section {
    height: 580px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
  }

  .box {
    padding: 0;
    height: auto;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .skills-icon-container {
    padding-bottom: 64px;
  }

  .skills-icon {
    width: 80px;
  }

  .skills-list-container {
    padding: 0;
  }

  .skills-title {
    font-weight: bold;
    font-size: var(--home-skills-title-med);
    padding-bottom: 42px;
  }

  .skills-list-item {
    font-size: var(--home-skills-text-med);
    padding: 0;
    line-height: 1.36em;
  }




  /* ----- Work -----*/
  .work-container{
    margin: 0 auto;
    padding: 140px 14%;
    max-width: 1400px;
  }

  .work-title-container {
    text-align: center;
    margin-bottom: 86px;
  }

  .work-title {
    padding-bottom: 6px;
    font-size: var(--home-work-title-max);
    font-weight: bold;
  }

  .work-statement {
    font-size: var(--home-work-text-max);
  }

  .work-project-container {
    grid-template-columns:1fr 1fr; 
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .project1,
  .project3,
  .project5,
  .project7 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .project2,
  .project4,
  .project6 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .project1,
  .project2 {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .project3,
  .project4 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .project5,
  .project6 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .project7  {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .effect-title {
    font-size: var(--home-work-effects-title-med);
  }

  .effect-text {
    font-size: var(--home-work-effects-text-med);
  }
  /* ----- Summary ----- */
  .summary-head-section {
    height: 780px;
    display: flex;
    align-items: center;
  }

  .summary-work-together-container {
    max-width: 800px;
  }

  .work-together-title {
    padding-bottom: 23px;
    font-size: var(--home-summary-max);
  }

  .work-together-text {
    font-size: var(--home-summary-max);
  }

  /* ----- Footer ----- */
  .footer-tail-section {
    height: 148px;
    display: flex;
    align-items: center;
  }

  .footer-row {
    width: 100%;
    display: flex;
  }

  .footer-col1,
  .footer-col2 {
    width: 30%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }

  .footer-col2 {
    width: 70%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .footer-name {
    font-size: var(--footer-name-med);
    font-weight: 700;
    text-align: left;
  }

  .footer-position {
    font-weight: 400;
    padding-left: 8px;
  }

  .footer-email,
  .footer-resume,
  .footer-linkedin,
  .footer-git {
    font-size: var(--footer-link-med);
    font-weight: 700;
    padding-top: 0;
    margin-left: 32px;
  }

  .footer-email-link {
    font-weight: 400;
  }

  .footer-resume-container,
  .footer-linkedin-container,
  .footer-git-container {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1008px) {
  .about-intro {
    font-size: var(--home-about-title-max);
  }

  .about-container {
    width: 60%;
  }

  .about-text {
    font-size: var(--home-about-text-max);
    line-height: 38px;
  }

  .skills-section {
    height: 780px;
    padding: 0 14%;
  }

  .skills-container {
    grid-gap: 50px;
    padding: 0;
  }

  .skills-icon {
    width: 100px;
  }

  .skills-title {
    font-size: var(--home-skills-title-max);
  }

  .skills-list-item {
    font-size: var(--home-skills-text-max);
  }

  .effect-title {
    font-size: var(--home-work-effects-title-max);
  }

  .effect-text {
    font-size: var(--home-work-effects-text-max);
  }

  .summary-work-together-container { 
    width: 55%;
  }

  .footer-name {
    font-size: var(--footer-name-max);
  }

  .footer-email,
  .footer-resume,
  .footer-linkedin,
  .footer-git {
    font-size: var(--footer-link-max);
  }
}