* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-container {
  width: 100%;
}

img {
  vertical-align: middle;
}

/* ----- NavBar -----*/
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.nav-title-container {
  padding: 0;
  margin: 0;
}

.nav-title {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.75em;
}

.nav-menu-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 24px;
}

.nav-menu-item a {
  font-weight: 700;
  font-size: .95em;
  text-decoration: none;
  color: #888;
}

.nav-menu-item a:hover {
  color: #000;
}

/* ----- About ----- */
.about-container {
  width: 100%;

  padding: 0 4%;
}

.about-image-container {
  width: 100%;
}

.about-image {
  width: 100%;
  
}

.about-text-container {
  margin-top: 100px;
}

.about-text {
  line-height: 2em;
}

.about-contact {
  display: block;
  border: 2px solid red;
  height: 50px;
  width: 150px;
  margin: 32px auto 0;
  color: red;
  font-size: 1em;
  transition: all .1s linear;
  outline-width: 0;
}

.about-contact:hover {
  color: #fff;
  font-weight: 700;
  background-color: red;
}